.cartao {
    background-color: #262626;
    border-radius: 20px;
    margin: 8px 50px;
    padding: 20px;
    overflow-x: auto;
}

.cartao__tabela {
    border: none;
    width: 100%;
}

.cartao__cabecalho th {
    font-weight: 500;
    padding: 10px;
    border-bottom: 1px solid #6D6D6D
}

.cartao__tabela td, .cartao__tabela th {
    padding: 8px;
    text-align: center;
}

.cartao__tabela td:nth-child(5) {
    color: #ff1f66;
}

@media screen and (min-width: 1024px) {
    .cartao {
        /* vertical | horizontal */
        margin: 10px 7em;
    }
}